{% extends 'base.html' %}

{% block content %}
<div class="p-3">
    <div class="d-flex justify-content-end">
        <a href="accounts/register" class="btn btn-primary mr-3">
            Register
        </a>
        <a href="accounts/login" class="btn btn-primary">
            Login
        </a>
    </div>
    <div class="row">
        {% for data in list %}
        <div class="col-md-3">
            <div class="card">
                <img src="{{data.img.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {{data.name}}
                    </h5>
                    <p class="card-text">
                        {{data.desc}}
                    </p>
                    <div class="d-flex justify-content-between">
                        {% if data.offer %}
                        <span class="badge badge-primary">Special Offer</span>
                        {% endif %}
                        <div>{{data.price}}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}